{% extends "base.html" %}

{% block content %}

<h1>Signup</h1>
<form method='post' action="/"> 
    <label> Username</label>
        <input type="text" name="username" value='{{username}}' />
           <p class="error">{{ userid_error }}</p>
    <br><label>Password</label>
        <input type="text" name="password" value='{{password}}' />
            <p class="error">{{ password_error }}</p>
    <br><label>Verify Password</label>
        <input type="text" name="verify_password" value='{{verify_password}}'/>
            <p class="error">{{ver_password_error}}</p>
    <!-- <br><label>Email (optional)</label>
        <input type="text" name="email" />  -->
    <input type="submit" name="Submit" />
</form>

{% endblock %}